[Unit]
Description=Modbus TCP Server, NEO Handler thread and USRT to ESPs
After=networking.target

[Service]
WorkingDirectory=/home/pi/Desktop/MainProcess
Type=idle
ExecStart=/usr/bin/python3 /home/pi/Desktop/MainProcess/main_process.py
StandardInput=tty-force
User=root
Restart=always

[Install]
WantedBy=multi-user.target
